{
    margin: 0;
    padding: 0;
    border: none;
}

body{ 
    font-family: lato;
    font-weight: 300;
    }

/* logo and headings */
header {
    background-color:#7FFFD4;
    font-size: 140%;
    text-transform: uppercase;
    border: 2px solid #5933cc;
    background-repeat: no-repeat;
    font-family:Trattatello, fantasy;
    color:#5933cc;
    padding:40px;
    background-size:cover;
    height:2em;
    bottom:5px;
   
    
    }

 #menu li{
        list-style:none;
        float:right;
        padding:20px;
        margin-bottom:100%;
    
        
        

       
         }

 #logo {
    text-align: center;
    letter-spacing:4px;
    padding-bottom:1%;
    
   
    
   

    }

    #logo-image{
    background: url("../images/haridwar-taxi.png") no-repeat center center;
    position: relative;
    background-size: 300px;
    width: 300px;
    height: 300px;
    font-size: 16px;
    bottom:5px;
  }

    


 
      